body{
    text-align:center;
}

@media only screen and (min-width:1000px) {
    .regular{ 
        content:url(images/kitten-small.png);
	}
	body{ 
        background-image:url(images/dog.jpg);
    }
}
@media only screen and (min-width:1200px) {
    .regular{ 
        content:url(images/kitten-medium.png);
    }
    body{ 
        background-image:url(images/bird.jpg);
    }
}
@media only screen and (min-width:1400px) {
    .regular{ 
        content:url(images/kitten-large.png);
    }
    body{ 
        background-image:url(images/cat.jpg);
    }
}
@media only screen and (min-width:999px) {
    .popup{ 
        content:url(images/kittyloaf.gif);
    }
}

@media only screen and (min-width:700px) {
    .popup{ 
        content:url(images/kittyloaf.gif);
    }
}