@media only screen and (min-width:250px) {
    .regular{ 
        content:url(images/kitten-small.png);
    }
}
@media only screen and (min-width:250px) {
    body{ 
        background-image:url(images/dog.jpg);
    }
}
@media only screen and (min-width:500px) {
    .regular{ 
        content:url(images/kitten-medium.png);
    }
}
@media only screen and (min-width:500px) {
    body{ 
        background-image:url(images/bird.jpg);
    }
}
@media only screen and (min-width:500px) {
    .popup{ 
        content:url(images/kittyloaf.gif);
    }
}
@media only screen and (min-width:800px) {
    .regular{ 
        content:url(images/kitten-large.png);
    }
}
@media only screen and (min-width:800px) {
    body{ 
        background-image:url(images/cat.jpg);
    }
}
@media only screen and (min-width:800px) {
    .popup{ 
        content:url(images/kittyloaf.gif);
    }
}
