@media only screen and (min-width:250px) {
    body{ 
        content:url(kitten-small.png);
    }
}
@media only screen and (min-width:680px) {
    body{ 
        content:url(kitten-medium.png);
    }
}
@media only screen and (min-width:800px) {
    body{ 
        content:url(kitten-large.png);
    }
}